<div class="text-light py-3 mt-3">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="col-md-4 d-flex align-items-center">
                <a href="#" [routerLink]="['']"><img src="/assets/images/logo.png" width="60"></a>
                <span>&copy; 2023 Kamal Teja</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-white-50" href="https://github.com/kamaltejag"><i
                            class="fab fa-github"></i></a></li>
                <li class="ms-3"><a class="text-white-50" href="https://www.youtube.com/@Packetcode"><i
                            class="fab fa-youtube"></i></a></li>
            </ul>
        </footer>
    </div>
</div>