<div class="card mb-4 border-0" style="width: 18rem;">
    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
    <div class="card-body">
        <div>
            <small class="text-danger">Design</small>
            <h5 class="fw-bold"><a href="#" class="text-dark text-decoration-none" [routerLink]="['/showPost', post.id]"
                    routerLinkActive="router-link-active">{{ post.title }}</a>
            </h5>
        </div>
        <!-- <p class="card-text">{{ post?.content.substring(0, 110) }}...</p> -->
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, repellat!</p>
    </div>
</div>